{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create Profile
{% endblock  %}

{% block content %}

    <div class="container form-cont">
        <div class="container form-header">
            <p class="form-content">Create a Profile</p>
        </div>

        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

        <div class="form-info">
            <form method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ form|crispy }}
                <input type="submit" class="btn btn-primary" id="formBtn" value="Create your Profile">
            </form>
        </div>
    </div>  


{% endblock %}